<h1>Sign Up</h1>

<% if !@user.errors.empty? %>   
  <div>   
    <ul>   
      <% @user.errors.full_messages.each do |msg| %>   
        <li><%= msg %></li>   
      <% end %>      
    </ul>   
  </div>   
<% end %> 

<%= form_with(model: @user, local: true) do |f| %>

  <p><%= f.label :name %>
  <%= f.text_field :name, class: "form-control"  %></p>

  <p><%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %></p>

  <p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %></p>

  <%= f.submit "submit", class: "btn btn-primary" %>

  <p>Alreday Logged in: <%= link_to "Login", login_path %>
<% end %>