<p><%= current_user.name.capitalize %></p>
<p>User Logout: <%= link_to "Log out", logout_path, method: "delete" %><p>

File Upload: <%= link_to "Upload", new_document_path %>
<div class="container">
  <ul>
    <% @documents.each do |document| %>
      <h3><%= link_to document.title, document_path(document)  %></h3>
      Tag: <!--small>
        <% document.all_tags.split(",").each do |tag| %>
          <p><%= link_to tag, tag_path(tag) %></p>
        <% end %>
      </small--> 
      <% tag_links(document.all_tags).split(",").each do |tag| %>
        <%= link_to tag, tag_path(tag) %><p>
      <% end %>
      <p><%= link_to "Download File", document.attachment_url unless document.attachment_url.nil? %> 
      <%= link_to "Delete", document, method: :delete, data: { confirm: "You Sure?"} %> </p>
      <hr/>
    <% end %>
  </ul>
</div>