<p>User Logout: <%= link_to "Log out", logout_path, method: "delete" %><p>

<%= link_to "Upload", new_document_path %>
<ul>
  <% @documents.each do |document| %>
    <h3><%= document.title %></h3>
    <p><%= document.description %></p>
    <p><%= link_to "Download", document.attachment_url %></p>
  <% end %>
</ul>