<h1>Documents#new</h1>

<% if !@document.errors.empty? %>   
   <div>   
         
      <ul>   
         <% @document.errors.full_messages.each do |msg| %>   
            <li><%= msg %></li>   
         <% end %>      </ul>   
         
   </div>   
<% end %> 

<div>   
   <%= form_for(@document)  do |f| %>   
      <%= f.label :title %>   
      <%= f.text_field :title %>   

      <%= f.label :description %>   
      <%= f.text_field :description %>  
      <br><br>   
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= f.submit "Save" %>   
   <% end %>   
</div>   
